html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html,
body {
    line-height: 1;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

body{
    justify-content: center;
    
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}
/********header********/
.container{
    max-width: 1170px;
    width:100%;
    margin: 0 auto;

}

header{
    width: 100%;
    height: 700px;
    background:url(/img/bg-header02.png) no-repeat;
    background-size: cover;
    background-position: center;
}
nav{
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    height:100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .8s;
}

nav .logo{
    float: left;
}

nav .logo h1{
    font-size: 4em;
    line-height: 80px;
    transition: .5s;
    text-transform: uppercase;
}

nav .logo h1 a{
    text-decoration: none;
    color: #E91E63;
}

nav ul{
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    list-style: none;
}

nav .menu ul li a{
    line-height: 80px;
    color: #E91E63;
    padding: 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}
.welcome{
    width: 350px;
    text-align: center;
    margin:0 auto;
    height: 700px;
    display:flex;
    align-items: center;
}
.welcome h1{
    font-size: 4em;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
}

.welcome p{
    margin-top:1.5em;
    color: #fff;
}

/********about me********/

.about-me{
    width:100%;
    height: 640px;
    background: #fff;
}

.about-me-container{
    width: 100%;
    height:640px;
    display:flex;
    align-items:center;
}

.about-me-left img{
    height: 400px;
}

.about-me-right{
    width: 520px;
    margin: 0 auto;
    text-align: center;
    color: rgb(63, 53, 53);
}

.about-me-right h3{
    text-transform:uppercase;
    
}

.about-me-right p{
    margin:1em;
    text-align: left;
    
}
/********history********/

.history{
    width: 100%;
    height: 800px;
    background: #262626;
    padding:4rem;
    font-size:1.25rem;
    justify-content: center;
    color:#fff; 
    line-height: 1.5rem;
}

.history h1{
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.timeline{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 2.5rem;

}


.timeline:before{
    display: inline-block;
    position: absolute;
    content: "";
    top: 0;
    left:0;
    height:1.5rem;
    width:1.5rem;
    border: 2px solid white;
    border-radius:50%;
    background: #262626;
    z-index: 1;
}

.timeline:after{
    content:"";
    border-left: 2px solid white;
    height: 100%;
    position: absolute;
    top: 0;
    left: 11px;
    z-index: 0;
}

.timeline:last-child:after{
    content:none;
}

.timeline .timline-date{
    padding-right: 3rem;
}

.timeline .timeline-date span{
    display:inline-block;
    font-weight: bold;
    color: black;
    background: white;
    padding: .2rem .4rem;
    margin:-4px 0 1rem 0;
}

.timeline .timeline-info {
    flex: 1;
    margin:0 0 2rem 0;

}

/********skill********/

.skills{
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 5em;
}

.skill-container{
    display:flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

.skill{
    margin: 1em 0;
    position: relative;
    width: 22.5em;
}

.skilltype{
    font-weight: 300;
    font-size: 2em;
    letter-spacing: .145em;
    text-transform: uppercase;
    width:5em;
    
}

.skill_outer-bar, .skill_inner-bar{
    height:.75em;
}

.skill_outer-bar{
    margin-top: 1em;
    background:#F3F3F2;
}

.skill_inner-bar{
    animation:fillBar 1s forwards;
    transform: scaleX(0);
    transform-origin: 0 0;
}

.skill_inner-bar--python{
    width:60%;
    background:#6E78F6;
}
.skill_inner-bar--c{
    width:70%;
    background:#F6A86E;
}
.skill_inner-bar--html{
    width:40%;
    background:#85FC68;
}
.skill_inner-bar--adruino{
    width:60%;
    background:#F66E78;
}

@keyframes fillBar{
    to{
        transform:scaleX(1);
    }
}

.myskill{
    padding:1em;
    text-transform: uppercase;
}